In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
#Loading the data
import os
os.chdir("C:\\Users\\Shreyansh")

fram = pd.read_csv("framingham.csv")
fram

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4235,0,48,2.0,1,20.0,NaN,0,0,0,248.0,131.0,72.0,22.00,84.0,86.0,0
4236,0,44,1.0,1,15.0,0.0,0,0,0,210.0,126.5,87.0,19.16,86.0,NaN,0
4237,0,52,2.0,0,0.0,0.0,0,0,0,269.0,133.5,83.0,21.47,80.0,107.0,0
4238,1,40,3.0,0,0.0,0.0,0,1,0,185.0,141.0,98.0,25.60,67.0,72.0,0
4239,0,39,3.0,1,30.0,0.0,0,0,0,196.0,133.0,86.0,20.91,85.0,80.0,0

# so for calculating average only observations which has values are included all the cases which have null value are excluded
# so formula for average is = total sum/ no. of obseravations which has values
# Null values are excluded in denominator see count differs

In [3]:
#description of the data
fram.describe()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
count,4240.000000,4240.000000,4135.000000,4240.000000,4211.000000,4187.000000,4240.000000,4240.000000,4240.000000,4190.000000,4240.000000,4240.000000,4221.000000,4239.000000,3852.000000,4240.000000
mean,0.429245,49.580189,1.979444,0.494104,9.005937,0.029615,0.005896,0.310613,0.025708,236.699523,132.354599,82.897759,25.800801,75.878981,81.963655,0.151887
std,0.495027,8.572942,1.019791,0.500024,11.922462,0.169544,0.076569,0.462799,0.158280,44.591284,22.033300,11.910394,4.079840,12.025348,23.954335,0.358953
min,0.000000,32.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,107.000000,83.500000,48.000000,15.540000,44.000000,40.000000,0.000000
25%,0.000000,42.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,206.000000,117.000000,75.000000,23.070000,68.000000,71.000000,0.000000
50%,0.000000,49.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,234.000000,128.000000,82.000000,25.400000,75.000000,78.000000,0.000000
75%,1.000000,56.000000,3.000000,1.000000,20.000000,0.000000,0.000000,1.000000,0.000000,263.000000,144.000000,90.000000,28.040000,83.000000,87.000000,0.000000
max,1.000000,70.000000,4.000000,1.000000,70.000000,1.000000,1.000000,1.000000,1.000000,696.000000,295.000000,142.500000,56.800000,143.000000,394.000000,1.000000

In [4]:
fram.isnull()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4235,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
4236,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False
4237,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4238,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4239,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [5]:
fram.shape

(4240, 16)

In [6]:
fram.sum()

male                 1820.00
age                210220.00
education            8185.00
currentSmoker        2095.00
cigsPerDay          37924.00
BPMeds                124.00
prevalentStroke        25.00
prevalentHyp         1317.00
diabetes              109.00
totChol            991771.00
sysBP              561183.50
diaBP              351486.50
BMI                108905.18
heartRate          321651.00
glucose            315724.00
TenYearCHD            644.00
dtype: float64

In [7]:
fram.isnull().sum()

male                 0
age                  0
education          105
currentSmoker        0
cigsPerDay          29
BPMeds              53
prevalentStroke      0
prevalentHyp         0
diabetes             0
totChol             50
sysBP                0
diaBP                0
BMI                 19
heartRate            1
glucose            388
TenYearCHD           0
dtype: int64

In [8]:
#Getting the percentage of missing values
x = round(fram.isnull().sum()/len(fram)*100,2)
x[x>0]   # only the variable that contains missing values

education     2.48
cigsPerDay    0.68
BPMeds        1.25
totChol       1.18
BMI           0.45
heartRate     0.02
glucose       9.15
dtype: float64

In [9]:
fram.describe()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
count,4240.000000,4240.000000,4135.000000,4240.000000,4211.000000,4187.000000,4240.000000,4240.000000,4240.000000,4190.000000,4240.000000,4240.000000,4221.000000,4239.000000,3852.000000,4240.000000
mean,0.429245,49.580189,1.979444,0.494104,9.005937,0.029615,0.005896,0.310613,0.025708,236.699523,132.354599,82.897759,25.800801,75.878981,81.963655,0.151887
std,0.495027,8.572942,1.019791,0.500024,11.922462,0.169544,0.076569,0.462799,0.158280,44.591284,22.033300,11.910394,4.079840,12.025348,23.954335,0.358953
min,0.000000,32.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,107.000000,83.500000,48.000000,15.540000,44.000000,40.000000,0.000000
25%,0.000000,42.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,206.000000,117.000000,75.000000,23.070000,68.000000,71.000000,0.000000
50%,0.000000,49.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,234.000000,128.000000,82.000000,25.400000,75.000000,78.000000,0.000000
75%,1.000000,56.000000,3.000000,1.000000,20.000000,0.000000,0.000000,1.000000,0.000000,263.000000,144.000000,90.000000,28.040000,83.000000,87.000000,0.000000
max,1.000000,70.000000,4.000000,1.000000,70.000000,1.000000,1.000000,1.000000,1.000000,696.000000,295.000000,142.500000,56.800000,143.000000,394.000000,1.000000

In [10]:
fram[fram.glucose.between(0 , 150)].describe()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
count,3802.000000,3802.000000,3707.000000,3802.000000,3777.000000,3751.000000,3802.000000,3802.000000,3802.000000,3792.000000,3802.00000,3802.000000,3789.000000,3801.000000,3802.000000,3802.000000
mean,0.441610,49.574171,1.980308,0.492898,9.019328,0.029326,0.006049,0.310363,0.014992,236.876055,132.25868,82.892031,25.781937,75.666140,79.880326,0.149658
std,0.496644,8.593384,1.021829,0.500015,11.932805,0.168740,0.077553,0.462703,0.121537,44.751772,21.86916,11.906977,4.038530,11.921181,13.617221,0.356783
min,0.000000,32.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,107.000000,83.50000,48.000000,15.540000,44.000000,40.000000,0.000000
25%,0.000000,42.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,206.000000,117.00000,75.000000,23.080000,68.000000,71.000000,0.000000
50%,0.000000,49.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,234.000000,128.00000,82.000000,25.380000,75.000000,78.000000,0.000000
75%,1.000000,56.000000,3.000000,1.000000,20.000000,0.000000,0.000000,1.000000,0.000000,264.000000,143.50000,89.500000,28.040000,82.000000,86.000000,0.000000
max,1.000000,70.000000,4.000000,1.000000,70.000000,1.000000,1.000000,1.000000,1.000000,696.000000,295.00000,142.500000,56.800000,143.000000,150.000000,1.000000

In [11]:
fram[fram.glucose.between(150 , 400)].describe()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
count,52.000000,52.000000,50.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,51.000000,52.000000,52.000000,52.000000
mean,0.519231,54.846154,1.740000,0.326923,6.269231,0.076923,0.019231,0.480769,0.961538,243.269231,147.701923,86.692308,28.151765,80.730769,236.903846,0.500000
std,0.504505,7.481702,1.006307,0.473665,10.177090,0.269069,0.138675,0.504505,0.194184,46.073733,34.362865,16.334780,5.815128,11.429435,69.922719,0.504878
min,0.000000,36.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,150.000000,85.500000,51.000000,17.170000,52.000000,150.000000,0.000000
25%,0.000000,49.750000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,213.500000,123.500000,77.875000,24.480000,74.500000,176.000000,0.000000
50%,1.000000,55.500000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,239.000000,143.000000,82.000000,27.780000,80.000000,215.500000,0.500000
75%,1.000000,61.000000,2.000000,1.000000,15.000000,0.000000,0.000000,1.000000,1.000000,265.000000,166.375000,96.250000,30.160000,88.500000,271.000000,1.000000
max,1.000000,67.000000,4.000000,1.000000,40.000000,1.000000,1.000000,1.000000,1.000000,358.000000,235.000000,130.000000,44.270000,110.000000,394.000000,1.000000

In [12]:
fram[fram.glucose.between(200 , 400)].describe()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
count,34.000000,34.000000,33.000000,34.000000,34.000000,34.000000,34.000000,34.000000,34.0,34.000000,34.000000,34.000000,33.000000,34.000000,34.000000,34.000000
mean,0.470588,55.411765,1.606061,0.323529,6.500000,0.117647,0.029412,0.558824,1.0,251.323529,153.088235,87.323529,28.240606,80.088235,272.470588,0.617647
std,0.506640,6.546420,0.826869,0.474858,10.891337,0.327035,0.171499,0.503995,0.0,45.632073,36.774594,17.586101,5.910885,11.701768,60.862107,0.493270
min,0.000000,43.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,160.000000,85.500000,51.000000,17.170000,52.000000,202.000000,0.000000
25%,0.000000,52.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,219.250000,127.750000,77.250000,24.900000,71.250000,217.750000,0.000000
50%,0.000000,55.500000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.0,242.500000,147.500000,83.750000,27.730000,79.000000,255.500000,1.000000
75%,1.000000,61.000000,2.000000,1.000000,15.000000,0.000000,0.000000,1.000000,1.0,271.500000,184.500000,97.500000,30.380000,87.750000,314.250000,1.000000
max,1.000000,67.000000,3.000000,1.000000,40.000000,1.000000,1.000000,1.000000,1.0,358.000000,235.000000,130.000000,43.670000,110.000000,394.000000,1.000000

In [13]:
fram[fram['glucose'].isnull()].describe()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
count,388.000000,388.00000,380.00000,388.000000,384.000000,386.000000,388.000000,388.000000,388.000000,348.000000,388.000000,388.000000,383.000000,388.000000,0.0,388.000000
mean,0.296392,49.00000,2.00000,0.528351,9.250000,0.025907,0.002577,0.288660,0.010309,233.635057,131.385309,82.542526,25.717755,77.322165,NaN,0.128866
std,0.457255,8.31797,0.99868,0.499840,12.012396,0.159063,0.050767,0.453724,0.101140,42.485551,21.071991,11.322047,4.228100,12.877552,NaN,0.335484
min,0.000000,34.00000,1.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,126.000000,95.000000,50.000000,16.610000,48.000000,NaN,0.000000
25%,0.000000,42.00000,1.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,205.000000,116.000000,74.875000,22.805000,68.000000,NaN,0.000000
50%,0.000000,48.00000,2.00000,1.000000,3.000000,0.000000,0.000000,0.000000,0.000000,231.500000,127.500000,81.000000,25.310000,75.000000,NaN,0.000000
75%,1.000000,55.00000,3.00000,1.000000,20.000000,0.000000,0.000000,1.000000,0.000000,258.250000,142.000000,89.000000,27.875000,85.000000,NaN,0.000000
max,1.000000,69.00000,4.00000,1.000000,60.000000,1.000000,1.000000,1.000000,1.000000,366.000000,215.000000,129.000000,45.790000,120.000000,NaN,1.000000

In [14]:
fram[fram.diabetes == 1].describe()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
count,109.000000,109.000000,106.000000,109.000000,109.000000,107.000000,109.000000,109.000000,109.0,108.000000,109.000000,109.000000,107.000000,109.000000,105.000000,109.000000
mean,0.477064,54.926606,1.735849,0.357798,6.293578,0.084112,0.009174,0.532110,1.0,247.759259,147.444954,86.582569,28.003178,79.504587,170.333333,0.366972
std,0.501781,7.576409,0.988524,0.481566,9.819956,0.278862,0.095783,0.501273,0.0,57.314491,29.807743,14.135016,5.497538,12.232034,84.232242,0.484205
min,0.000000,36.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,150.000000,85.500000,51.000000,17.170000,52.000000,47.000000,0.000000
25%,0.000000,49.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,212.750000,127.500000,78.000000,24.435000,70.000000,110.000000,0.000000
50%,0.000000,55.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.0,240.000000,143.500000,85.000000,27.780000,78.000000,145.000000,0.000000
75%,1.000000,62.000000,2.000000,1.000000,15.000000,0.000000,0.000000,1.000000,1.0,270.250000,161.000000,94.000000,30.330000,87.000000,215.000000,1.000000
max,1.000000,68.000000,4.000000,1.000000,40.000000,1.000000,1.000000,1.000000,1.0,600.000000,235.000000,140.000000,44.270000,115.000000,394.000000,1.000000

In [15]:
fram[fram.diabetes == 0].describe()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
count,4131.000000,4131.000000,4029.000000,4131.000000,4102.000000,4080.000000,4131.000000,4131.000000,4131.0,4082.000000,4131.000000,4131.000000,4114.000000,4130.000000,3747.000000,4131.000000
mean,0.427984,49.439119,1.985853,0.497700,9.078011,0.028186,0.005810,0.304769,0.0,236.406908,131.956427,82.800533,25.743520,75.783293,79.487323,0.146212
std,0.494846,8.553343,1.019935,0.500055,11.965905,0.165525,0.076009,0.460365,0.0,44.176378,21.653541,11.832534,4.021163,12.006528,12.957198,0.353361
min,0.000000,32.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,107.000000,83.500000,48.000000,15.540000,44.000000,40.000000,0.000000
25%,0.000000,42.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,205.000000,117.000000,74.500000,23.060000,68.000000,71.000000,0.000000
50%,0.000000,49.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,233.500000,128.000000,82.000000,25.355000,75.000000,78.000000,0.000000
75%,1.000000,56.000000,3.000000,1.000000,20.000000,0.000000,0.000000,1.000000,0.0,263.000000,143.000000,89.000000,27.970000,83.000000,86.000000,0.000000
max,1.000000,70.000000,4.000000,1.000000,70.000000,1.000000,1.000000,1.000000,0.0,696.000000,295.000000,142.500000,56.800000,143.000000,163.000000,1.000000

In [16]:
x1 = fram[fram['glucose'].isnull()]
y = x1[x1.diabetes == 1 ] 
y['glucose'] = 170.3333
y

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
247,0,40,2.0,1,20.0,0.0,0,0,1,NaN,114.0,65.0,21.19,61.0,170.3333,1
294,0,47,1.0,1,25.0,0.0,0,1,1,258.0,195.0,90.0,NaN,86.0,170.3333,1
2570,1,47,3.0,0,0.0,0.0,0,0,1,199.0,161.0,102.0,29.17,58.0,170.3333,0
3051,0,50,3.0,1,9.0,0.0,0,0,1,210.0,134.0,80.0,18.26,64.0,170.3333,0

In [17]:
fram[fram['glucose'].isnull()][fram[fram['glucose'].isnull()].diabetes == 1]['glucose']= 170.3333

In [18]:
fram[fram['glucose'].isnull()][fram[fram['glucose'].isnull()].diabetes == 1]

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
247,0,40,2.0,1,20.0,0.0,0,0,1,NaN,114.0,65.0,21.19,61.0,NaN,1
294,0,47,1.0,1,25.0,0.0,0,1,1,258.0,195.0,90.0,NaN,86.0,NaN,1
2570,1,47,3.0,0,0.0,0.0,0,0,1,199.0,161.0,102.0,29.17,58.0,NaN,0
3051,0,50,3.0,1,9.0,0.0,0,0,1,210.0,134.0,80.0,18.26,64.0,NaN,0

In [19]:
x[x.diabetes == 0 ]

0.0

In [20]:
x0 = fram[fram['glucose'].isnull()]
y0 = x0[x0.diabetes == 0 ] 
y0['glucose'] = 79.48
y0

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
14,0,39,2.0,1,9.0,0.0,0,0,0,226.0,114.0,64.0,22.35,85.0,79.48,0
21,0,43,1.0,0,0.0,0.0,0,0,0,185.0,123.5,77.5,29.89,70.0,79.48,0
26,0,60,1.0,0,0.0,0.0,0,0,0,260.0,110.0,72.5,26.59,65.0,79.48,0
42,0,52,1.0,0,0.0,1.0,0,1,0,NaN,148.0,92.0,25.09,70.0,79.48,1
54,0,39,2.0,1,20.0,0.0,0,0,0,209.0,115.0,75.0,22.54,90.0,79.48,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4170,0,41,2.0,1,5.0,0.0,0,0,0,205.0,105.0,74.0,20.85,87.0,79.48,0
4208,0,51,1.0,1,9.0,0.0,0,0,0,340.0,152.0,76.0,25.74,70.0,79.48,0
4229,0,51,3.0,1,20.0,0.0,0,1,0,251.0,140.0,80.0,25.60,75.0,79.48,0
4230,0,56,1.0,1,3.0,0.0,0,1,0,268.0,170.0,102.0,22.89,57.0,79.48,0
4236,0,44,1.0,1,15.0,0.0,0,0,0,210.0,126.5,87.0,19.16,86.0,79.48,0

In [21]:
df_row = pd.concat([y, y0])
df_row

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
247,0,40,2.0,1,20.0,0.0,0,0,1,NaN,114.0,65.0,21.19,61.0,170.3333,1
294,0,47,1.0,1,25.0,0.0,0,1,1,258.0,195.0,90.0,NaN,86.0,170.3333,1
2570,1,47,3.0,0,0.0,0.0,0,0,1,199.0,161.0,102.0,29.17,58.0,170.3333,0
3051,0,50,3.0,1,9.0,0.0,0,0,1,210.0,134.0,80.0,18.26,64.0,170.3333,0
14,0,39,2.0,1,9.0,0.0,0,0,0,226.0,114.0,64.0,22.35,85.0,79.4800,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4170,0,41,2.0,1,5.0,0.0,0,0,0,205.0,105.0,74.0,20.85,87.0,79.4800,0
4208,0,51,1.0,1,9.0,0.0,0,0,0,340.0,152.0,76.0,25.74,70.0,79.4800,0
4229,0,51,3.0,1,20.0,0.0,0,1,0,251.0,140.0,80.0,25.60,75.0,79.4800,0
4230,0,56,1.0,1,3.0,0.0,0,1,0,268.0,170.0,102.0,22.89,57.0,79.4800,0
4236,0,44,1.0,1,15.0,0.0,0,0,0,210.0,126.5,87.0,19.16,86.0,79.4800,0

In [22]:
df_row.isnull().sum()

male                0
age                 0
education           8
currentSmoker       0
cigsPerDay          4
BPMeds              2
prevalentStroke     0
prevalentHyp        0
diabetes            0
totChol            40
sysBP               0
diaBP               0
BMI                 5
heartRate           0
glucose             0
TenYearCHD          0
dtype: int64

In [23]:
notnull = fram[fram['glucose'].notnull()]

In [24]:
notnull.describe()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
count,3852.000000,3852.000000,3755.000000,3852.000000,3827.000000,3801.000000,3852.000000,3852.000000,3852.000000,3842.000000,3852.000000,3852.000000,3838.000000,3851.000000,3852.000000,3852.000000
mean,0.442627,49.638629,1.977364,0.490654,8.981448,0.029992,0.006231,0.312825,0.027259,236.977095,132.452233,82.933541,25.809088,75.733576,81.963655,0.154206
std,0.496762,8.597086,1.022011,0.499978,11.914705,0.170588,0.078698,0.463704,0.162857,44.772060,22.128090,11.968874,4.065224,11.928212,23.954335,0.361193
min,0.000000,32.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,107.000000,83.500000,48.000000,15.540000,44.000000,40.000000,0.000000
25%,0.000000,42.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,206.000000,117.000000,75.000000,23.082500,68.000000,71.000000,0.000000
50%,0.000000,49.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,234.000000,128.000000,82.000000,25.400000,75.000000,78.000000,0.000000
75%,1.000000,57.000000,3.000000,1.000000,20.000000,0.000000,0.000000,1.000000,0.000000,264.000000,144.000000,90.000000,28.060000,82.000000,87.000000,0.000000
max,1.000000,70.000000,4.000000,1.000000,70.000000,1.000000,1.000000,1.000000,1.000000,696.000000,295.000000,142.500000,56.800000,143.000000,394.000000,1.000000

In [25]:
notnull.isnull().sum()

male                0
age                 0
education          97
currentSmoker       0
cigsPerDay         25
BPMeds             51
prevalentStroke     0
prevalentHyp        0
diabetes            0
totChol            10
sysBP               0
diaBP               0
BMI                14
heartRate           1
glucose             0
TenYearCHD          0
dtype: int64

In [26]:
gram = pd.concat([df_row ,notnull ])
gram.describe()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
count,4240.000000,4240.000000,4135.000000,4240.000000,4211.000000,4187.000000,4240.000000,4240.000000,4240.000000,4190.000000,4240.000000,4240.000000,4221.000000,4239.000000,4240.000000,4240.000000
mean,0.429245,49.580189,1.979444,0.494104,9.005937,0.029615,0.005896,0.310613,0.025708,236.699523,132.354599,82.897759,25.800801,75.878981,81.822088,0.151887
std,0.495027,8.572942,1.019791,0.500024,11.922462,0.169544,0.076569,0.462799,0.158280,44.591284,22.033300,11.910394,4.079840,12.025348,23.004269,0.358953
min,0.000000,32.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,107.000000,83.500000,48.000000,15.540000,44.000000,40.000000,0.000000
25%,0.000000,42.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,206.000000,117.000000,75.000000,23.070000,68.000000,72.000000,0.000000
50%,0.000000,49.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,234.000000,128.000000,82.000000,25.400000,75.000000,79.480000,0.000000
75%,1.000000,56.000000,3.000000,1.000000,20.000000,0.000000,0.000000,1.000000,0.000000,263.000000,144.000000,90.000000,28.040000,83.000000,85.000000,0.000000
max,1.000000,70.000000,4.000000,1.000000,70.000000,1.000000,1.000000,1.000000,1.000000,696.000000,295.000000,142.500000,56.800000,143.000000,394.000000,1.000000

### we can clearly see that mean is same because of lower number of observations but standard deviation differs

In [27]:
gram.isnull().sum()

male                 0
age                  0
education          105
currentSmoker        0
cigsPerDay          29
BPMeds              53
prevalentStroke      0
prevalentHyp         0
diabetes             0
totChol             50
sysBP                0
diaBP                0
BMI                 19
heartRate            1
glucose              0
TenYearCHD           0
dtype: int64

In [28]:
g = gram[gram['education'].notnull()]
g

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
247,0,40,2.0,1,20.0,0.0,0,0,1,NaN,114.0,65.0,21.19,61.0,170.3333,1
294,0,47,1.0,1,25.0,0.0,0,1,1,258.0,195.0,90.0,NaN,86.0,170.3333,1
2570,1,47,3.0,0,0.0,0.0,0,0,1,199.0,161.0,102.0,29.17,58.0,170.3333,0
3051,0,50,3.0,1,9.0,0.0,0,0,1,210.0,134.0,80.0,18.26,64.0,170.3333,0
14,0,39,2.0,1,9.0,0.0,0,0,0,226.0,114.0,64.0,22.35,85.0,79.4800,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4234,1,51,3.0,1,43.0,0.0,0,0,0,207.0,126.5,80.0,19.71,65.0,68.0000,0
4235,0,48,2.0,1,20.0,NaN,0,0,0,248.0,131.0,72.0,22.00,84.0,86.0000,0
4237,0,52,2.0,0,0.0,0.0,0,0,0,269.0,133.5,83.0,21.47,80.0,107.0000,0
4238,1,40,3.0,0,0.0,0.0,0,1,0,185.0,141.0,98.0,25.60,67.0,72.0000,0
4239,0,39,3.0,1,30.0,0.0,0,0,0,196.0,133.0,86.0,20.91,85.0,80.0000,0

In [29]:
n = gram[gram['education'].isnull()]
n['education'] = 2.5
n

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
499,0,60,2.5,0,0.0,0.0,0,0,0,215.0,113.0,71.0,26.69,77.0,79.48,0
1681,0,55,2.5,0,0.0,0.0,0,0,0,265.0,123.0,78.0,24.59,55.0,79.48,0
2846,1,50,2.5,1,9.0,0.0,0,0,0,206.0,140.0,92.0,28.21,85.0,79.48,1
2885,1,44,2.5,0,0.0,0.0,0,0,0,253.0,152.5,87.5,26.84,56.0,79.48,0
3290,0,65,2.5,0,0.0,0.0,0,0,0,221.0,155.0,92.0,31.34,58.0,79.48,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4012,0,40,2.5,1,9.0,0.0,0,0,0,262.0,97.0,71.0,22.14,72.0,80.00,0
4082,1,47,2.5,0,0.0,0.0,0,1,0,254.0,137.5,91.0,31.98,75.0,69.00,0
4098,1,37,2.5,1,20.0,0.0,0,0,0,184.0,113.0,81.0,22.16,85.0,63.00,0
4122,1,69,2.5,1,23.0,0.0,0,1,0,186.0,179.0,93.0,26.64,72.0,67.00,0
4138,1,67,2.5,1,25.0,0.0,0,1,0,221.0,144.0,84.0,24.92,72.0,73.00,0

In [30]:
gram = pd.concat([g , n ])
gram.isnull().sum()

male                0
age                 0
education           0
currentSmoker       0
cigsPerDay         29
BPMeds             53
prevalentStroke     0
prevalentHyp        0
diabetes            0
totChol            50
sysBP               0
diaBP               0
BMI                19
heartRate           1
glucose             0
TenYearCHD          0
dtype: int64

In [31]:
ot = gram[gram['cigsPerDay'].isnull()]
ot['cigsPerDay'] = 9
ot

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
131,1,43,4.0,1,9,0.0,0,0,0,222.0,109.5,69.0,25.50,75.0,79.48,0
1347,0,58,4.0,1,9,0.0,0,1,0,270.0,195.0,117.5,23.35,75.0,79.48,0
1980,0,60,2.0,1,9,0.0,0,0,0,228.0,112.0,74.0,24.51,63.0,79.48,0
3579,1,42,1.0,1,9,0.0,0,0,0,196.0,123.0,73.0,22.06,66.0,79.48,0
139,1,49,4.0,1,9,0.0,0,0,0,256.0,127.5,81.5,28.21,93.0,85.00,1
1046,0,49,1.0,1,9,0.0,0,0,0,280.0,120.0,80.0,22.33,90.0,75.00,0
1292,1,42,3.0,1,9,0.0,0,0,0,225.0,122.5,80.0,25.54,90.0,90.00,0
1451,1,54,1.0,1,9,0.0,0,0,0,219.0,110.0,72.0,26.05,95.0,86.00,0
1497,1,55,1.0,1,9,0.0,0,0,0,214.0,132.5,85.5,29.25,70.0,103.00,0
1610,0,61,1.0,1,9,0.0,0,1,0,356.0,168.0,98.0,27.30,103.0,106.00,0
1625,0,49,2.0,1,9,0.0,0,1,0,233.0,158.0,102.0,25.31,90.0,72.00,0
1870,0,47,2.0,1,9,0.0,0,0,0,365.0,127.0,76.0,24.44,72.0,80.00,0
1963,1,45,3.0,1,9,0.0,0,1,0,170.0,145.5,99.0,26.74,83.0,85.00,0
2405,0,49,1.0,1,9,0.0,0,0,0,252.0,123.0,69.0,21.45,72.0,89.00,0
2513,1,42,1.0,1,9,0.0,0,0,0,226.0,119.0,80.0,25.29,62.0,98.00,0
3021,1,53,2.0,1,9,0.0,0,0,0,276.0,130.0,86.0,24.21,58.0,82.00,0
3094,0,49,1.0,1,9,0.0,0,1,0,214.0,172.0,111.0,40.51,80.0,70.00,1
3106,0,47,3.0,1,9,0.0,0,0,0,321.0,132.0,88.0,28.14,90.0,74.00,0
3108,1,39,2.0,1,9,0.0,0,0,0,285.0,121.0,82.0,27.62,85.0,65.00,0
3156,1,37,3.0,1,9,0.0,0,0,0,188.0,123.5,77.0,26.62,65.0,80.00,0
3177,1,45,2.0,1,9,0.0,0,0,0,248.0,121.0,72.0,27.88,64.0,88.00,0
3309,1,58,2.0,1,9,0.0,0,0,0,235.0,127.5,76.0,21.02,81.0,135.00,0
3432,0,55,1.0,1,9,0.0,0,1,0,213.0,163.0,91.0,28.66,69.0,66.00,0
3715,0,57,2.0,1,9,0.0,0,0,0,270.0,120.0,79.0,24.83,95.0,81.00,0
3847,0,41,1.0,1,9,0.0,0,0,0,171.0,135.0,82.5,24.35,79.0,82.00,0
3924,0,52,2.0,1,9,0.0,0,1,0,292.0,157.0,112.0,29.56,95.0,84.00,0
3942,0,39,3.0,1,9,0.0,0,0,0,197.0,126.5,76.5,19.71,55.0,63.00,0
2542,1,57,2.5,1,9,0.0,0,0,0,223.0,107.5,72.5,24.74,62.0,103.00,0
3034,0,57,2.5,1,9,0.0,0,0,0,229.0,115.0,69.0,24.43,80.0,93.00,0

In [32]:
cpdnn = gram[gram['cigsPerDay'].notnull()]

In [33]:
gram = pd.concat([ot,cpdnn])
gram.isnull().sum()

male                0
age                 0
education           0
currentSmoker       0
cigsPerDay          0
BPMeds             53
prevalentStroke     0
prevalentHyp        0
diabetes            0
totChol            50
sysBP               0
diaBP               0
BMI                19
heartRate           1
glucose             0
TenYearCHD          0
dtype: int64

In [34]:
gram.describe()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
count,4240.000000,4240.000000,4240.000000,4240.000000,4240.000000,4187.000000,4240.000000,4240.000000,4240.000000,4190.000000,4240.000000,4240.000000,4221.000000,4239.000000,4240.000000,4240.000000
mean,0.429245,49.580189,1.992335,0.494104,9.005896,0.029615,0.005896,0.310613,0.025708,236.699523,132.354599,82.897759,25.800801,75.878981,81.822088,0.151887
std,0.495027,8.572942,1.010327,0.500024,11.881610,0.169544,0.076569,0.462799,0.158280,44.591284,22.033300,11.910394,4.079840,12.025348,23.004269,0.358953
min,0.000000,32.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,107.000000,83.500000,48.000000,15.540000,44.000000,40.000000,0.000000
25%,0.000000,42.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,206.000000,117.000000,75.000000,23.070000,68.000000,72.000000,0.000000
50%,0.000000,49.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,234.000000,128.000000,82.000000,25.400000,75.000000,79.480000,0.000000
75%,1.000000,56.000000,3.000000,1.000000,20.000000,0.000000,0.000000,1.000000,0.000000,263.000000,144.000000,90.000000,28.040000,83.000000,85.000000,0.000000
max,1.000000,70.000000,4.000000,1.000000,70.000000,1.000000,1.000000,1.000000,1.000000,696.000000,295.000000,142.500000,56.800000,143.000000,394.000000,1.000000

In [35]:
gram[gram.sysBP.between(200,300)].describe()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
count,44.000000,44.000000,44.000000,44.000000,44.00000,42.000000,44.0,44.000000,44.000000,44.000000,44.000000,44.000000,43.000000,44.000000,44.000000,44.000000
mean,0.227273,59.431818,1.659091,0.272727,4.75000,0.261905,0.0,0.977273,0.204545,257.454545,213.897727,114.511364,29.173488,82.931818,112.579091,0.545455
std,0.423915,5.707595,0.833686,0.450511,9.57255,0.445001,0.0,0.150756,0.408032,46.676748,17.483740,16.606418,6.287111,14.892479,75.991247,0.503686
min,0.000000,46.000000,1.000000,0.000000,0.00000,0.000000,0.0,0.000000,0.000000,169.000000,200.000000,83.000000,19.610000,57.000000,59.000000,0.000000
25%,0.000000,55.000000,1.000000,0.000000,0.00000,0.000000,0.0,1.000000,0.000000,219.250000,204.000000,99.500000,24.970000,69.500000,77.000000,0.000000
50%,0.000000,61.000000,1.000000,0.000000,0.00000,0.000000,0.0,1.000000,0.000000,260.500000,208.500000,118.000000,27.230000,82.000000,83.500000,1.000000
75%,0.000000,64.000000,2.000000,1.000000,1.50000,0.750000,0.0,1.000000,0.000000,294.250000,215.000000,129.250000,31.810000,94.250000,107.250000,1.000000
max,1.000000,67.000000,4.000000,1.000000,43.00000,1.000000,0.0,1.000000,1.000000,368.000000,295.000000,142.500000,44.710000,110.000000,394.000000,1.000000

In [36]:
bp = gram[gram['BPMeds'].isnull()]
bp.describe()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
count,53.000000,53.000000,53.000000,53.000000,53.000000,0.0,53.000000,53.000000,53.000000,52.000000,53.000000,53.000000,53.000000,53.000000,53.000000,53.000000
mean,0.283019,53.490566,1.867925,0.433962,8.169811,NaN,0.018868,0.415094,0.037736,240.461538,137.320755,83.424528,25.589623,76.056604,82.282264,0.207547
std,0.454776,9.092733,1.074848,0.500363,12.220311,NaN,0.137361,0.497454,0.192380,52.805771,25.453973,14.333392,4.375063,9.491727,16.312146,0.409432
min,0.000000,36.000000,1.000000,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,145.000000,98.000000,63.000000,19.830000,58.000000,57.000000,0.000000
25%,0.000000,45.000000,1.000000,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,200.750000,120.000000,74.000000,22.550000,69.000000,74.000000,0.000000
50%,0.000000,56.000000,1.000000,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,234.500000,131.000000,82.000000,24.640000,75.000000,79.000000,0.000000
75%,1.000000,60.000000,3.000000,1.000000,15.000000,NaN,0.000000,1.000000,0.000000,270.750000,148.000000,88.000000,27.560000,82.000000,86.000000,0.000000
max,1.000000,68.000000,4.000000,1.000000,50.000000,NaN,1.000000,1.000000,1.000000,391.000000,208.000000,136.000000,39.910000,100.000000,145.000000,1.000000

In [54]:
bph = bp[bp.sysBP.between(151,300)]
bph['BPMeds'] = 1
bph.head(2)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
395,0,65,2.0,0,0.0,1,0,1,0,270.0,165.0,98.0,21.66,62.0,92.0,1
797,0,59,4.0,0,0.0,1,0,1,0,240.0,195.0,118.0,23.82,80.0,73.0,0

In [69]:
bpl = bp[bp.sysBP.between(0,150)]
bpl['BPMeds'] = 0
bph.head(2)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
395,0,65,2.0,0,0.0,0,0,1,0,270.0,165.0,98.0,21.66,62.0,92.0,1
797,0,59,4.0,0,0.0,0,0,1,0,240.0,195.0,118.0,23.82,80.0,73.0,0

In [70]:
bpu = pd.concat([bph,bpl])

In [71]:
bpo = gram[gram['BPMeds'].notnull()]

In [72]:
gram = pd.concat([bpo,bpu])
gram.isnull().sum()

male                0
age                 0
education           0
currentSmoker       0
cigsPerDay          0
BPMeds              0
prevalentStroke     0
prevalentHyp        0
diabetes            0
totChol            50
sysBP               0
diaBP               0
BMI                19
heartRate           1
glucose             0
TenYearCHD          0
dtype: int64

In [75]:
gram.describe()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
count,4279.000000,4279.000000,4279.000000,4279.000000,4279.000000,4279.000000,4279.000000,4279.000000,4279.000000,4229.000000,4279.00000,4279.000000,4260.000000,4278.000000,4279.000000,4279.000000
mean,0.427436,49.670951,1.993106,0.490301,8.944847,0.028979,0.005842,0.316896,0.026174,236.829274,132.72961,83.054686,25.800329,75.896213,81.843340,0.153307
std,0.494764,8.596191,1.013703,0.499964,11.869016,0.167766,0.076221,0.465321,0.159672,44.591929,22.34665,12.064413,4.072344,11.997271,22.928302,0.360325
min,0.000000,32.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,107.000000,83.50000,48.000000,15.540000,44.000000,40.000000,0.000000
25%,0.000000,42.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,206.000000,117.00000,75.000000,23.070000,68.000000,72.000000,0.000000
50%,0.000000,49.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,234.000000,128.50000,82.000000,25.385000,75.000000,79.480000,0.000000
75%,1.000000,57.000000,3.000000,1.000000,20.000000,0.000000,0.000000,1.000000,0.000000,263.000000,144.00000,90.000000,28.040000,83.000000,85.000000,0.000000
max,1.000000,70.000000,4.000000,1.000000,70.000000,1.000000,1.000000,1.000000,1.000000,696.000000,295.00000,142.500000,56.800000,143.000000,394.000000,1.000000

##  how to replace null values directly in file itself. No need to concat tables

In [98]:
gram.BMI.fillna(gram.BMI.mean() , inplace=True)

In [100]:
gram.totChol.fillna(gram.totChol.mean() , inplace=True)

In [102]:
gram.heartRate.fillna(gram.heartRate.mean() , inplace=True)

In [103]:
gram.isnull().sum()

male               0
age                0
education          0
currentSmoker      0
cigsPerDay         0
BPMeds             0
prevalentStroke    0
prevalentHyp       0
diabetes           0
totChol            0
sysBP              0
diaBP              0
BMI                0
heartRate          0
glucose            0
TenYearCHD         0
dtype: int64

In [104]:
gram.describe()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
count,4279.000000,4279.000000,4279.000000,4279.000000,4279.000000,4279.000000,4279.000000,4279.000000,4279.000000,4279.000000,4279.00000,4279.000000,4279.000000,4279.000000,4279.000000,4279.000000
mean,0.427436,49.670951,1.993106,0.490301,8.944847,0.028979,0.005842,0.316896,0.026174,236.829274,132.72961,83.054686,25.800329,75.896213,81.843340,0.153307
std,0.494764,8.596191,1.013703,0.499964,11.869016,0.167766,0.076221,0.465321,0.159672,44.330574,22.34665,12.064413,4.063291,11.995869,22.928302,0.360325
min,0.000000,32.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,107.000000,83.50000,48.000000,15.540000,44.000000,40.000000,0.000000
25%,0.000000,42.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,206.000000,117.00000,75.000000,23.080000,68.000000,72.000000,0.000000
50%,0.000000,49.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,234.000000,128.50000,82.000000,25.410000,75.000000,79.480000,0.000000
75%,1.000000,57.000000,3.000000,1.000000,20.000000,0.000000,0.000000,1.000000,0.000000,263.000000,144.00000,90.000000,28.025000,83.000000,85.000000,0.000000
max,1.000000,70.000000,4.000000,1.000000,70.000000,1.000000,1.000000,1.000000,1.000000,696.000000,295.00000,142.500000,56.800000,143.000000,394.000000,1.000000

# FINAL COMPARISION BEFORE N AFTER REPLACING NULL VALUES

In [106]:
fram.describe()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
count,4240.000000,4240.000000,4135.000000,4240.000000,4211.000000,4187.000000,4240.000000,4240.000000,4240.000000,4190.000000,4240.000000,4240.000000,4221.000000,4239.000000,3852.000000,4240.000000
mean,0.429245,49.580189,1.979444,0.494104,9.005937,0.029615,0.005896,0.310613,0.025708,236.699523,132.354599,82.897759,25.800801,75.878981,81.963655,0.151887
std,0.495027,8.572942,1.019791,0.500024,11.922462,0.169544,0.076569,0.462799,0.158280,44.591284,22.033300,11.910394,4.079840,12.025348,23.954335,0.358953
min,0.000000,32.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,107.000000,83.500000,48.000000,15.540000,44.000000,40.000000,0.000000
25%,0.000000,42.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,206.000000,117.000000,75.000000,23.070000,68.000000,71.000000,0.000000
50%,0.000000,49.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,234.000000,128.000000,82.000000,25.400000,75.000000,78.000000,0.000000
75%,1.000000,56.000000,3.000000,1.000000,20.000000,0.000000,0.000000,1.000000,0.000000,263.000000,144.000000,90.000000,28.040000,83.000000,87.000000,0.000000
max,1.000000,70.000000,4.000000,1.000000,70.000000,1.000000,1.000000,1.000000,1.000000,696.000000,295.000000,142.500000,56.800000,143.000000,394.000000,1.000000

# BELOW CODES ARE ROUGH WORK FOR PRACTICE

In [42]:
bram = fram.copy()

In [43]:
r = bram[bram['glucose'].isnull()]
r['glucose'] = 81.963655
r

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
14,0,39,2.0,1,9.0,0.0,0,0,0,226.0,114.0,64.0,22.35,85.0,81.963655,0
21,0,43,1.0,0,0.0,0.0,0,0,0,185.0,123.5,77.5,29.89,70.0,81.963655,0
26,0,60,1.0,0,0.0,0.0,0,0,0,260.0,110.0,72.5,26.59,65.0,81.963655,0
42,0,52,1.0,0,0.0,1.0,0,1,0,NaN,148.0,92.0,25.09,70.0,81.963655,1
54,0,39,2.0,1,20.0,0.0,0,0,0,209.0,115.0,75.0,22.54,90.0,81.963655,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4170,0,41,2.0,1,5.0,0.0,0,0,0,205.0,105.0,74.0,20.85,87.0,81.963655,0
4208,0,51,1.0,1,9.0,0.0,0,0,0,340.0,152.0,76.0,25.74,70.0,81.963655,0
4229,0,51,3.0,1,20.0,0.0,0,1,0,251.0,140.0,80.0,25.60,75.0,81.963655,0
4230,0,56,1.0,1,3.0,0.0,0,1,0,268.0,170.0,102.0,22.89,57.0,81.963655,0
4236,0,44,1.0,1,15.0,0.0,0,0,0,210.0,126.5,87.0,19.16,86.0,81.963655,0

In [44]:
nn = bram[bram['glucose'].notnull()]

In [45]:
bram = pd.concat([r,nn])
bram.describe()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
count,4240.000000,4240.000000,4135.000000,4240.000000,4211.000000,4187.000000,4240.000000,4240.000000,4240.000000,4190.000000,4240.000000,4240.000000,4221.000000,4239.000000,4240.000000,4240.000000
mean,0.429245,49.580189,1.979444,0.494104,9.005937,0.029615,0.005896,0.310613,0.025708,236.699523,132.354599,82.897759,25.800801,75.878981,81.963655,0.151887
std,0.495027,8.572942,1.019791,0.500024,11.922462,0.169544,0.076569,0.462799,0.158280,44.591284,22.033300,11.910394,4.079840,12.025348,22.831748,0.358953
min,0.000000,32.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,107.000000,83.500000,48.000000,15.540000,44.000000,40.000000,0.000000
25%,0.000000,42.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,206.000000,117.000000,75.000000,23.070000,68.000000,72.000000,0.000000
50%,0.000000,49.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,234.000000,128.000000,82.000000,25.400000,75.000000,80.000000,0.000000
75%,1.000000,56.000000,3.000000,1.000000,20.000000,0.000000,0.000000,1.000000,0.000000,263.000000,144.000000,90.000000,28.040000,83.000000,85.000000,0.000000
max,1.000000,70.000000,4.000000,1.000000,70.000000,1.000000,1.000000,1.000000,1.000000,696.000000,295.000000,142.500000,56.800000,143.000000,394.000000,1.000000

In [46]:
fram['glucose'].between(50,100)

0        True
1        True
2        True
3       False
4        True
        ...
4235     True
4236    False
4237    False
4238     True
4239     True
Name: glucose, Length: 4240, dtype: bool

In [47]:
df_all = pd.concat([fram['glucose'].between(50,100),fram['glucose'].between(150,200)], 
                   axis='columns', keys=['First', 'Second'])
df_all

      First  Second
0      True   False
1      True   False
2      True   False
3     False   False
4      True   False
...     ...     ...
4235   True   False
4236  False   False
4237  False   False
4238   True   False
4239   True   False

[4240 rows x 2 columns]

In [48]:

fram[fram.glucose.between(50 , 100)].describe()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
count,3526.000000,3526.000000,3441.000000,3526.000000,3505.000000,3479.000000,3526.000000,3526.000000,3526.000000,3519.000000,3526.000000,3526.000000,3513.000000,3525.000000,3526.000000,3526.000000
mean,0.441010,49.364152,1.991863,0.493193,9.078745,0.028169,0.005672,0.301475,0.005105,236.554987,131.652014,82.729722,25.709516,75.424397,77.516449,0.145774
std,0.496578,8.555243,1.021537,0.500025,11.965779,0.165479,0.075110,0.458963,0.071276,44.353633,21.596756,11.863239,3.975890,11.889711,9.853862,0.352930
min,0.000000,32.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,107.000000,83.500000,48.000000,15.540000,44.000000,50.000000,0.000000
25%,0.000000,42.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,205.000000,116.000000,74.500000,23.070000,67.000000,70.000000,0.000000
50%,0.000000,48.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,233.000000,127.500000,82.000000,25.330000,75.000000,77.000000,0.000000
75%,1.000000,56.000000,3.000000,1.000000,20.000000,0.000000,0.000000,1.000000,0.000000,263.000000,142.500000,89.000000,27.940000,82.000000,84.000000,0.000000
max,1.000000,70.000000,4.000000,1.000000,70.000000,1.000000,1.000000,1.000000,1.000000,696.000000,295.000000,142.500000,56.800000,143.000000,100.000000,1.000000

In [49]:
fram['glucose'].describe()

count    3852.000000
mean       81.963655
std        23.954335
min        40.000000
25%        71.000000
50%        78.000000
75%        87.000000
max       394.000000
Name: glucose, dtype: float64

In [50]:
df['two'].between(-0.5, 0.5, inclusive=False)

NameError: name 'df' is not defined

In [51]:
fram[fram.glucose >50 and fram.glucose < 100]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [52]:
fram[fram.glucose > 100].count()

male               313
age                313
education          302
currentSmoker      313
cigsPerDay         309
BPMeds             309
prevalentStroke    313
prevalentHyp       313
diabetes           313
totChol            310
sysBP              313
diaBP              313
BMI                312
heartRate          313
glucose            313
TenYearCHD         313
dtype: int64

In [53]:
fram[fram.glucose > 100].describe()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
count,313.000000,313.000000,302.000000,313.000000,309.000000,309.000000,313.000000,313.000000,313.000000,310.000000,313.000000,313.000000,312.000000,313.000000,313.000000,313.000000
mean,0.453674,52.706070,1.824503,0.463259,7.825243,0.051780,0.012780,0.434505,0.274760,242.048387,141.292332,85.153355,26.966346,79.297125,133.613419,0.249201
std,0.498646,8.440394,1.017617,0.499447,11.126860,0.221942,0.112502,0.496486,0.447108,48.559118,25.706024,12.931977,4.741983,11.936446,55.021448,0.433243
min,0.000000,34.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,144.000000,83.500000,51.000000,17.170000,50.000000,101.000000,0.000000
25%,0.000000,46.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,212.000000,124.000000,77.000000,23.927500,70.000000,105.000000,0.000000
50%,0.000000,53.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,240.000000,136.500000,83.500000,26.640000,78.000000,113.000000,0.000000
75%,1.000000,60.000000,2.000000,1.000000,15.000000,0.000000,0.000000,1.000000,1.000000,265.750000,155.000000,92.500000,29.395000,86.000000,127.000000,0.000000
max,1.000000,69.000000,4.000000,1.000000,50.000000,1.000000,1.000000,1.000000,1.000000,600.000000,244.000000,140.000000,51.280000,122.000000,394.000000,1.000000